<div>
    <h2 id="page-heading">
        <span>Current Salaries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-current-salary" [routerLink]="['/current-salary/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Current Salary
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="currentSalaries">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="basicPay"><span>Basic Pay</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gradePay"><span>Grade Pay</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cityCategory"><span>City Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="officeOfficeName"><span>Office</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let currentSalary of currentSalaries ;trackBy: trackId">
                <td><a [routerLink]="['/current-salary', currentSalary.id, 'view' ]">{{currentSalary.id}}</a></td>
                <td>{{currentSalary.basicPay}}</td>
                <td>{{currentSalary.gradePay}}</td>
                <td>{{currentSalary.cityCategory}}</td>
                <td>
                    <div *ngIf="currentSalary.officeId">
                        <a [routerLink]="['../office', currentSalary.officeId , 'view' ]" >{{currentSalary.officeOfficeName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/current-salary', currentSalary.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/current-salary', currentSalary.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'current-salary/'+ currentSalary.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="currentSalaries && currentSalaries.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
